 .bg-nav{
 	background-color: lightblue;

 }

 .bgg{
 	background-color: red;
 }

 .bbb:hover{
 	transform: translateX(-200px);
 	transform: scale(1.1);
    transition: all 4s;
 }

 .aaa:hover{
 	transform: scale(1.1);
    transition: all 4s;
 }

 .logo{
   width: 70px;
   height: auto;
 }